/*==========  Desktop First  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  .menu li {
    margin: 0 20px 0 0; }
  .name-company {
    max-width: 158px; }
  .header-box {
    margin: 0 35px 0 0; }
    .header-box:last-child {
      margin: 0; }
  .phone .svg-icon {
    left: -21px; }
  header {
    font-size: 13.5px; }
    header .btn {
      max-width: 160px; }
  .list-social li {
    margin: 0 15px 0 0; }
  .wrapper {
    padding: 83px 0 0; }
  .form label {
    max-width: 48%; }
  .vacancy-box__head h3 {
    max-width: 600px; } }

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  header {
    padding: 9px 0 13px; }
    header .name-company, header .header-box-address {
      display: none; }
  .btn-burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .header-bottom {
    display: none; }
  .header-top {
    margin: 0; }
  header.fixed .header-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .wrapper {
    padding: 104px 0 0; }
  .footer-wrapper {
    padding: 0;
    margin: 0 0 22px; }
  .footer-col {
    text-align: center; }
    .footer-col .list-social {
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
  .stages-work-box {
    margin: 0 auto 35px; }
    .stages-work-box__body {
      max-width: 280px;
      margin: 0 auto; }
    .stages-work-box h3 {
      margin: 0 auto 20px; }
  .stages-work {
    padding: 55px 0 19px; }
  .advantages-service-my-box {
    margin: 0 0 11px; }
  .tariffs {
    padding: 73px 0; }
  .tariffs-box {
    margin: 0 0 11px;
    height: 392px; }
    .tariffs-box .box-text {
      margin: 0; }
  .command {
    padding: 0; }
  .command-description {
    padding: 0;
    margin: 13px 0 0; }
    .command-description:before {
      display: none; }
  .command-slider {
    margin: 28px 0 0; }
    .command-slider .slick-arrow {
      position: absolute;
      top: 45%;
      -webkit-transform: translate(0, -50%);
              transform: translate(0, -50%); }
    .command-slider .slick-prev {
      left: 0; }
    .command-slider .slick-next {
      right: 0; }
  .command-slider-card {
    margin: 0 0 58px; }
  .consultation {
    padding: 39px 0 43px; }
  .consultation-content {
    padding: 42px 25px 37px; }
    .consultation-content h2 {
      line-height: 30px;
      font-size: 25px; }
  .callback-section {
    padding: 51px 0;
    text-align: center; }
    .callback-section .btn {
      margin: 0 auto 13px; }
    .callback-section h2 {
      margin: 0 auto 16px;
      max-width: 320px; }
    .callback-section .box-text {
      margin: 0 auto 26px; }
  .reviews {
    padding: 40px 0 46px; }
    .reviews h2 {
      margin: 0 0 8px; }
    .reviews:before {
      height: 765px; }
  .reviews-info {
    margin: 0 0 29px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
  .reviews-box {
    margin: 0 0 16px;
    min-height: 259px; }
    .reviews-box .list-rating {
      margin: 9px 0 0; }
  .clients-slider-col {
    width: 180px;
    margin: 0 20px 0 0; }
  .clients-slider .slick-slide {
    padding: 0; }
  .clients-slider .slick-list {
    margin: 0; }
  .clients-box {
    margin: 0 0 22px; }
  .clients {
    padding: 0 0 12px; }
  .slider-nav .slick-prev {
    margin: 0 11px 0 0; }
  .services-section__content {
    padding: 0;
    margin: 0 0 27px; }
    .services-section__content .box-text {
      max-width: none; }
  .services-section {
    background: #2293D7;
    padding: 55px 0 25px; }
    .services-section:before {
      display: none; }
  .service-box {
    margin: 0 0 23px; }
  .btn-all-reviews {
    margin: 20px auto 0; }
  .map-box {
    margin: 27px -15px 0;
    width: calc(100% + 30px);
    height: 337px; }
  .contacts-section {
    padding: 9px 0 0; }
    .contacts-section h1 {
      margin: 0 0 9px; }
    .contacts-section .name-company {
      max-width: none; }
  .contacts-box {
    padding: 0; }
  .documents-box {
    padding: 25px; }
    .documents-box__body {
      padding: 0 0 0 20px; }
    .documents-box h3 {
      margin: 0 0 20px;
      min-height: 54px; }
  .documents-my {
    padding: 77px 0 0;
    margin: 0 0 38px; }
    .documents-my h2 {
      padding: 0;
      width: 100%;
      border: none;
      margin: 0 0 13px; }
    .documents-my:before {
      height: calc(100% - 150px); }
  .documents-my-head {
    margin-bottom: 48px; }
  .documents-box {
    padding: 33px 24px 31px 23px; }
  .vacancy-box .btn {
    max-width: 180px; }
  .vacancy-box .box-text {
    margin: 11px 0; }
  .vacancy-home {
    padding: 17px 0 0; } }

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  header .btn {
    display: none; }
  header .list-social {
    margin: 0 auto 0 0; }
  h2 {
    line-height: 42px; }
  .error-page {
    padding: 18px 0 64px;
    text-align: center; }
    .error-page h1 {
      text-align: center; }
    .error-page .btn {
      margin: 40px auto 0; }
  footer {
    padding: 21px 0 54px; }
    footer .footer-box {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; }
    footer .btn {
      margin: 0; }
    footer .logo {
      margin: 0;
      max-width: 101px; }
  .footer-wrapper {
    margin: 28px 0 22px; }
  .service-home {
    padding: 25px 0 35px; }
  .service-home__img {
    margin: 0 auto 45px;
    max-width: 246px;
    width: 100%; }
  .list-check li {
    margin: 0 0 32.5px; }
    .list-check li:last-child {
      margin: 0 0 32.5px; }
  .advantages-service {
    margin: 0 0 35px; }
  .diplomas {
    padding: 0 0 67px; }
    .diplomas:before {
      height: 195px; }
    .diplomas h2 {
      margin: 0 0 30px;
      max-width: 320px; }
  .diplomas-slider {
    position: relative;
    width: calc(100% + 46px);
    margin: 0 -23px; }
    .diplomas-slider .slick-arrow {
      position: absolute;
      top: 50%;
      -webkit-transform: translate(0, -50%);
              transform: translate(0, -50%); }
    .diplomas-slider .slick-prev {
      left: 23px; }
    .diplomas-slider .slick-next {
      right: 23px; }
    .diplomas-slider .slick-slide {
      padding: 0; }
    .diplomas-slider .slick-list {
      margin: 0; }
  .diplomas-slider-box {
    width: 180px;
    margin: 0 17.5px; }
  .container {
    padding: 0 23px 0 24px; }
  .stages-work h2 {
    text-align: center;
    margin: 0 auto 43px; }
  .advantages-service-my h2 {
    margin: 0 0 27px;
    max-width: 280px; }
  .advantages-service-my-box {
    height: 106px; }
    .advantages-service-my-box p {
      max-width: 190px; }
  .tariffs {
    padding: 13px 0 33px; }
  .price-wrapper {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .command-slider-card {
    max-width: 280px;
    margin: 0 auto 58px; }
  .command-slider .slick-list {
    margin: 0; }
  .command-slider .slick-slide {
    padding: 0; }
  .consultation-content {
    margin: 41px auto 0; }
    .consultation-content h2 {
      text-align: center; }
    .consultation-content .box-text {
      margin: 21px auto 18px;
      text-align: center;
      max-width: 220px; }
  .form button {
    margin: 0 auto; }
  .consultation-img {
    max-width: 242px; }
  .reviews-box {
    padding: 22px 22px 27px; }
  .btn-all-reviews {
    margin: 18px auto 0; }
  .reviews-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
    .reviews-info .box-text {
      padding: 0;
      margin: 26px 0 0; }
  .clients-slider {
    width: calc(100% + 23px); }
  .question {
    padding: 43px 0 20px; }
    .question h2 {
      margin: 0 0 21px; }
  .accordion .card-header {
    padding: 15px 0; }
    .accordion .card-header h3 {
      padding: 0 20px 0 0; }
  .accordion .card-body {
    padding: 0 0 10px; }
  .news-home {
    padding: 20px 0 46px; }
  .pagination-nav {
    margin: 27px 0; }
  .news-card {
    padding: 0 0 18px;
    margin: 0 0 18px; }
    .news-card__head {
      margin: 8px 0 22px; }
    .news-card__img {
      margin: 0 0 32px; }
    .news-card__body {
      margin: -5px; }
  .rating-wrapper {
    width: 100%;
    margin: 0 0 4px; }
  .form-reviews {
    margin: 0 0 45px; }
  .vacancy-box__head h3 {
    max-width: none; }
  .vacancy-box__footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin: 11px 0 0; }
  .payment-value {
    margin: 0 40px 0 0; }
  .vacancy-box .box-text {
    margin: 11px 0 0; }
  .vacancy-home__head-question {
    width: 100%;
    margin: 14px 0 0; }
  .vacancy-box {
    padding: 26px 0; }
    .vacancy-box .box-text {
      margin: 23px 0 0; }
  .vacancy-home__head {
    padding: 0 0 32px; }
    .vacancy-home__head .mail {
      margin: 4px 0 0; } }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 576px) {
  header .list-social {
    display: none; }
  header .logo {
    margin: 0 0 0 5px; }
  header .phone {
    margin: 2px 0 3px; }
  .logo {
    max-width: 45px; }
  .phone .svg-icon {
    left: -25px; }
  .btn-burger {
    margin: 5px 3px 0 0; }
  .header-box {
    font-size: 15px;
    margin: 5px auto 0 18px; }
  .wrapper {
    padding: 68px 0 0; }
  .breadcrumb {
    margin: 15px 0 0;
    padding: 0 10px 0 0;
    font-size: 12px; }
  .footer-menu {
    width: 50%; }
    .footer-menu li {
      max-width: 140px; }
  .service-home .price {
    margin: 0; }
  .service-home .btn {
    display: none; }
  footer .list-social li {
    margin: 0 24px 0 0; }
  .form label {
    width: 100%;
    max-width: none;
    margin: 0 0 26px; }
  .form .checkbox {
    margin: 0 0 24px; }
  .checkbox {
    font-size: 12px; }
  .service-home .box-text {
    margin: 27px 0 10px; }
  .advantages-service h2 {
    margin: 0 0 17px; }
  .tariffs-box {
    max-width: 280px;
    width: 100%;
    margin: 0 auto 11px; }
    .tariffs-box__body {
      padding: 20px 25px 34px; }
    .tariffs-box h3 {
      min-height: auto;
      margin: 0; }
  .service-box {
    padding: 35px 25px 24px 32px; }
  .links-next {
    right: 14px; }
  .services-section {
    padding: 55px 0 30px; }
  .accordion .card-header h3 {
    line-height: 27px; }
  .accordion .card-body .box-text {
    line-height: 24px; }
  .accordion-icon {
    margin: 7px 17px 0 0; }
  .clients-box {
    margin: 0 0 -14px; }
    .clients-box:last-child {
      margin: 0; }
  .clients {
    padding: 0 0 28px; }
  .politics-section {
    padding: 17px 0 66px; }
    .politics-section h1 {
      font-size: 30px;
      line-height: 37px; }
  .politics-box {
    margin: 0 0 40px; }
  .about-home__img {
    margin: 0 auto 47px;
    max-width: 248px; }
  .about-home {
    padding: 25px 0 65px; }
    .about-home h1 {
      margin: 0 0 8px; }
  .advantages-service-my-v2 {
    padding: 47px 0 37px; }
  .documents-box {
    position: relative; }
    .documents-box__icon {
      max-width: 42px;
      position: absolute;
      top: 35px;
      left: 23px; }
    .documents-box__body {
      width: 100%;
      padding: 0; }
    .documents-box h3 {
      width: 100%;
      padding: 7px 0 0 67px;
      max-width: 300px; }
  .documents-my {
    margin: 196px 0 36px; }
  .all-articles {
    padding: 27px 0 39px; }
    .all-articles h2 {
      margin: 0 0 25px; }
  .reviews-home {
    padding: 18px 0 26px; }
  .reviews-home-wrapper {
    margin: 10px 0 28px; }
  .reviews-home-description {
    margin: 0 0 28px;
    max-width: 325px; }
  .reviews-home-wrapper .list-rating {
    margin: 0 20px; }
  .reviews-home-wrapper .total-val-rating {
    margin: 9px 0 0; }
  .reviews-card__head {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 0 0 27px; }
    .reviews-card__head .reviews-box__photo {
      margin: 0 19px 0 0;
      min-width: 64px; }
    .reviews-card__head .reviews-box__name {
      width: calc(100% - 64px); }
  .reviews-card {
    padding: 33px 0 32px; }
    .reviews-card .box-text {
      max-width: none;
      padding: 0; }
  .form-reviews {
    margin: 0 0 45px; }
    .form-reviews textarea {
      height: 132px; }
    .form-reviews label {
      margin: 0 0 30px; }
    .form-reviews .label-100 {
      margin: -11px 0 0; }
    .form-reviews .checkbox {
      margin: 25px 0 30px;
      font-size: 14px; }
  .reviews-card .reviews-box__name {
    padding: 0; }
  .rate-service {
    margin: 18px 0 27px; }
  .btn-group {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .form-reviews .label-file {
    margin: 0 0 23px; }
  .btn-group .btn:not(:first-child) {
    margin: 24px auto 0; }
  .result-file p {
    display: none; }
  .result-file-item {
    margin: 0; }
  .result-file {
    margin: 0 0 14px; }
  .vacancy-home__head p {
    width: 100%; }
    .vacancy-home__head p:after {
      display: none; }
  .font-16 {
    font-size: 16px; }
  .payment-value {
    margin: 0 auto 0 0; }
  .vacancy-box .btn {
    min-width: 180px; }
  .vacancy-page-home {
    padding: 20px 0 70px; }
    .vacancy-page-home h4 {
      margin: 30px 0; }
  .clients-home {
    padding: 0 0 62px; }
    .clients-home__img {
      margin: 0 0 34px -43px;
      max-width: 384px;
      min-width: 384px; }
    .clients-home .breadcrumb {
      margin: 12px 0 20px; }
    .clients-home h1 {
      margin: 0 0 13px; }
  .services-corporation-box h3 {
    max-width: 208px; }
  .services-corporation {
    padding: 39px 0 0; } }

/* Custom, iPhone Retina */
@media only screen and (max-width: 420px) {
  .wrapper {
    padding: 62px 0 0; }
  .article-home {
    padding: 19px 0 0; }
  .article-card__head {
    margin: 10px 0 12px; }
  .article-card__img {
    height: 116px;
    margin: 0 0 37px; }
  .article-img {
    height: 189px;
    margin: 20px 0 28px; }
  .article-card ol {
    margin: 0 0 25px; }
  .quote-box {
    margin: 23px 0;
    padding: 42px 56px;
    font-size: 16px; }
    .quote-box:before {
      top: 29px;
      left: 15px; }
    .quote-box:after {
      right: 15px;
      bottom: 33px; }
  .video-box {
    height: 184px;
    margin: 0 0 30px; }
  .btn-play {
    width: 28px;
    height: 27px; }
  .article-image {
    height: 189px;
    margin: 20px 0 0; }
  .all-articles-card-100 .all-articles-card__body {
    padding: 38px 20px 14px 24px; }
  .all-articles-card__img {
    height: 188px; }
  .all-articles-card {
    height: auto;
    margin: 0 0 6px; }
  .all-articles-card__body {
    height: calc(100% - 188px);
    padding: 32px 24px 21px; }
  .all-articles-card__title {
    margin: 0 0 14px; }
  .all-articles-card .links-details {
    margin: 15px 0 0; }
  .list-dots {
    padding: 0 0 0 26px; }
  .box-subtitle .box-text {
    margin: 0 0 37px; }
  .all-articles {
    padding: 27px 0 20px; } }

@media only screen and (max-width: 420px) and (max-width: 340px) {
  h1 {
    font-size: 34px; }
  .btn-burger {
    margin-right: 0; }
  .header-box {
    margin-left: 14px; } }
