@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px)
  .menu li
    margin: 0 20px 0 0

  .name-company
    max-width: 158px

  .header-box
    margin: 0 35px 0 0

    &:last-child
      margin: 0

  .phone .svg-icon
    left: -21px

  header
    font-size: 13.5px

    .btn
      max-width: 160px

  .list-social
    li
      margin: 0 15px 0 0

  .wrapper
    padding: 83px 0 0

  .form label
    max-width: 48%

  .vacancy-box__head h3
    max-width: 600px

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px)
  header
    padding: 9px 0 13px
    .name-company, .header-box-address
      display: none

  .btn-burger
    display: flex

  .header-bottom
    display: none

  .header-top
    margin: 0

  header.fixed
    .header-top
      display: flex

  .wrapper
    padding: 104px 0 0

  .footer-wrapper
    padding: 0
    margin: 0 0 22px

  .footer-col
    text-align: center
    .list-social
      justify-content: center

  .stages-work-box
    margin: 0 auto 35px
    &__body
      max-width: 280px
      margin: 0 auto
    h3
      margin: 0 auto 20px

  .stages-work
    padding: 55px 0 19px

  .advantages-service-my-box
    margin: 0 0 11px

  .tariffs
    padding: 73px 0

  .tariffs-box
    margin: 0 0 11px
    height: 392px
    .box-text
      margin: 0

  .command
    padding: 0

  .command-description
    padding: 0
    margin: 13px 0 0
    &:before
      display: none

  .command-slider
    margin: 28px 0 0
    .slick-arrow
      position: absolute
      top: 45%
      transform: translate(0,-50%)
    .slick-prev
      left: 0
    .slick-next
      right: 0

  .command-slider-card
    margin: 0 0 58px

  .consultation
    padding: 39px 0 43px

  .consultation-content
    padding: 42px 25px 37px
    h2
      line-height: 30px
      font-size: 25px

  .callback-section
    padding: 51px 0
    text-align: center
    .btn
      margin: 0 auto 13px
    h2
      margin: 0 auto 16px
      max-width: 320px
    .box-text
      margin: 0 auto 26px

  .reviews
    padding: 40px 0 46px
    h2
      margin: 0 0 8px
    &:before
      height: 765px

  .reviews-info
    margin: 0 0 29px
    align-items: flex-start

  .reviews-box
    margin: 0 0 16px
    min-height: 259px
    .list-rating
      margin: 9px 0 0

  .clients-slider-col
    width: 180px
    margin: 0 20px 0 0

  .clients-slider
    .slick-slide
      padding: 0
    .slick-list
      margin: 0

  .clients-box
    margin: 0 0 22px

  .clients
    padding: 0 0 12px

  .slider-nav

    .slick-prev
      margin: 0 11px 0 0

  .services-section__content
    padding: 0
    margin: 0 0 27px

    .box-text
      max-width: none

  .services-section
    background: $accent
    padding: 55px 0 25px

    &:before
      display: none

  .service-box
    margin: 0 0 23px

  .btn-all-reviews
    margin: 20px auto 0

  .map-box
    margin: 27px -15px 0
    width: calc(100% + 30px)
    height: 337px

  .contacts-section
    padding: 9px 0 0
    h1
      margin: 0 0 9px
    .name-company
      max-width: none


  .contacts-box
    padding: 0

  .documents-box
    padding: 25px
    &__body
      padding: 0 0 0 20px
    h3
      margin: 0 0 20px
      min-height: 54px

  .documents-my
    padding: 77px 0 0
    margin: 0 0 38px
    h2
      padding: 0
      width: 100%
      border: none
      margin: 0 0 13px
    &:before
      height: calc(100% - 150px)

  .documents-my-head
    margin-bottom: 48px

  .documents-box
    padding: 33px 24px 31px 23px

  .vacancy-box
    .btn
      max-width: 180px
    .box-text
      margin: 11px 0

  .vacancy-home
    padding: 17px 0 0

/* Small Devices, Tablets */
@media only screen and (max-width: 768px)
  header
    .btn
      display: none
    .list-social
      margin: 0 auto 0 0

  h2
    line-height: 42px

  .error-page
    padding: 18px 0 64px
    text-align: center
    h1
      text-align: center
    .btn
      margin: 40px auto 0

  footer
    padding: 21px 0 54px
    .footer-box
      display: flex
      flex-direction: row
      align-items: center
      justify-content: space-between
    .btn
      margin: 0
    .logo
      margin: 0
      max-width: 101px

  .footer-wrapper
    margin: 28px 0 22px

  .service-home
    padding: 25px 0 35px

  .service-home__img
    margin: 0 auto 45px
    max-width: 246px
    width: 100%

  .list-check
    li
      margin: 0 0 32.5px
      &:last-child
        margin: 0 0 32.5px

  .advantages-service
    margin: 0 0 35px

  .diplomas
    padding: 0 0 67px
    &:before
      height: 195px
    h2
      margin: 0 0 30px
      max-width: 320px

  .diplomas-slider
    position: relative
    width: calc(100% + 46px)
    margin: 0 -23px
    .slick-arrow
      position: absolute
      top: 50%
      transform: translate(0,-50%)
    .slick-prev
      left: 23px
    .slick-next
      right: 23px

    .slick-slide
      padding: 0
    .slick-list
      margin: 0

  .diplomas-slider-box
    width: 180px
    margin: 0 17.5px

  .container
    padding: 0 23px 0 24px

  .stages-work
    h2
      text-align: center
      margin: 0 auto 43px

  .advantages-service-my
    h2
      margin: 0 0 27px
      max-width: 280px

  .advantages-service-my-box
    height: 106px
    p
      max-width: 190px

  .tariffs
    padding: 13px 0 33px

  .price-wrapper
    justify-content: center

  .command-slider-card
    max-width: 280px
    margin: 0 auto 58px

  .command-slider
    .slick-list
      margin: 0
    .slick-slide
      padding: 0

  .consultation-content
    margin: 41px auto 0
    h2
      text-align: center
    .box-text
      margin: 21px auto 18px
      text-align: center
      max-width: 220px

  .form
    button
      margin: 0 auto

  .consultation-img
    max-width: 242px

  .reviews-box
    padding: 22px 22px 27px

  .btn-all-reviews
    margin: 18px auto 0

  .reviews-info
    flex-direction: column
    align-items: flex-start
    .box-text
      padding: 0
      margin: 26px 0 0

  .clients-slider
    width: calc(100% + 23px)

  .question
    padding: 43px 0 20px
    h2
      margin: 0 0 21px

  .accordion
    .card-header
      padding: 15px 0
      h3
        padding: 0 20px 0 0
    .card-body
      padding: 0 0 10px

  .news-home
    padding: 20px 0 46px

  .pagination-nav
    margin: 27px 0

  .news-card
    padding: 0 0 18px
    margin: 0 0 18px
    &__head
      margin: 8px 0 22px
    &__img
      margin: 0 0 32px
    &__body
      margin: 7px - 12px

  .rating-wrapper
    width: 100%
    margin: 0 0 4px

  .form-reviews
    margin: 0 0 45px

  .vacancy-box__head h3
    max-width: none

  .vacancy-box__footer
    display: flex
    align-items: center
    justify-content: flex-start
    margin: 11px 0 0

  .payment-value
    margin: 0 40px 0 0

  .vacancy-box .box-text
    margin: 11px 0 0

  .vacancy-home__head-question
    width: 100%
    margin: 14px 0 0

  .vacancy-box
    padding: 26px 0
    .box-text
      margin: 23px 0 0

  .vacancy-home__head
    padding: 0 0 32px
    .mail
      margin: 4px 0 0

/* Extra Small Devices, Phones */
@media only screen and (max-width: 576px)
  header
    .list-social
      display: none
    .logo
      margin: 0 0 0 5px
    .phone
      margin: 2px 0 3px

  .logo
    max-width: 45px

  .phone
    .svg-icon
      left: -25px

  .btn-burger
    margin: 5px 3px 0 0

  .header-box
    font-size: 15px
    margin: 5px auto 0 18px

  .wrapper
    padding: 68px 0 0

  .breadcrumb
    margin: 15px 0 0
    padding: 0 10px 0 0
    font-size: 12px

  .footer-menu
    width: 50%
    li
      max-width: 140px

  .service-home
    .price
      margin: 0
    .btn
      display: none

  footer
    .list-social li
      margin: 0 24px 0 0

  .form
    label
      width: 100%
      max-width: none
      margin: 0 0 26px
    .checkbox
      margin: 0 0 24px

  .checkbox
    font-size: 12px

  .service-home .box-text
    margin: 27px 0 10px

  .advantages-service h2
    margin: 0 0 17px

  .tariffs-box
    max-width: 280px
    width: 100%
    margin: 0 auto 11px
    &__body
      padding: 20px 25px 34px
    h3
      min-height: auto
      margin: 0

  .service-box
    padding: 35px 25px 24px 32px

  .links-next
    right: 14px

  .services-section
    padding: 55px 0 30px

  .accordion
    .card-header
      h3
        line-height: 27px
    .card-body
      .box-text
        line-height: 24px

  .accordion-icon
    margin: 7px 17px 0 0

  .clients-box
    margin: 0 0 -14px
    &:last-child
      margin: 0

  .clients
    padding: 0 0 28px

  .politics-section
    padding: 17px 0 66px
    h1
      font-size: 30px
      line-height: 37px

  .politics-box
    margin: 0 0 40px

  .about-home__img
    margin: 0 auto 47px
    max-width: 248px

  .about-home
    padding: 25px 0 65px

    h1
      margin: 0 0 8px

  .advantages-service-my-v2
    padding: 47px 0 37px

  .documents-box
    position: relative
    &__icon
      max-width: 42px
      position: absolute
      top: 35px
      left: 23px
    &__body
      width: 100%
      padding: 0
    h3
      width: 100%
      padding: 7px 0 0 67px
      max-width: 300px

  .documents-my
    margin: 196px 0 36px

  .all-articles
    padding: 27px 0 39px
    h2
      margin: 0 0 25px

  .reviews-home
    padding: 18px 0 26px

  .reviews-home-wrapper
    margin: 10px 0 28px

  .reviews-home-description
    margin: 0 0 28px
    max-width: 325px

  .reviews-home-wrapper .list-rating
    margin: 0 20px

  .reviews-home-wrapper .total-val-rating
    margin: 9px 0 0


  .reviews-card__head
    flex-direction: row
    margin: 0 0 27px
    .reviews-box__photo
      margin: 0 19px 0 0
      min-width: 64px
    .reviews-box__name
      width: calc(100% - 64px)


  .reviews-card
    padding: 33px 0 32px
    .box-text
      max-width: none
      padding: 0

  .form-reviews
    margin: 0 0 45px
    textarea
      height: 132px
    label
      margin: 0 0 30px
    .label-100
      margin: -11px 0 0
    .checkbox
      margin: 25px 0 30px
      font-size: 14px

  .reviews-card .reviews-box__name
    padding: 0

  .rate-service
    margin: 18px 0 27px

  .btn-group
    flex-direction: column
    align-items: center

  .form-reviews .label-file
    margin: 0 0 23px

  .btn-group .btn:not(:first-child)
    margin: 24px auto 0

  .result-file p
    display: none

  .result-file-item
    margin: 0

  .result-file
    margin: 0 0 14px

  .vacancy-home__head p
    width: 100%
    &:after
      display: none

  .font-16
    font-size: 16px

  .payment-value
    margin: 0 auto 0 0

  .vacancy-box .btn
    min-width: 180px

  .vacancy-page-home
    padding: 20px 0 70px
    h4
      margin: 30px 0

  .clients-home
    padding: 0 0 62px
    &__img
      margin: 0 0 34px -43px
      max-width: 384px
      min-width: 384px

    .breadcrumb
      margin: 12px 0 20px
    h1
      margin: 0 0 13px

  .services-corporation-box
    h3
      max-width: 208px

  .services-corporation
    padding: 39px 0 0

/* Custom, iPhone Retina */
@media only screen and (max-width: 420px)
  .wrapper
    padding: 62px 0 0

  .article-home
    padding: 19px 0 0

  .article-card__head
    margin: 10px 0 12px

  .article-card__img
    height: 116px
    margin: 0 0 37px

  .article-img
    height: 189px
    margin: 20px 0 28px

  .article-card ol
    margin: 0 0 25px

  .quote-box
    margin: 23px 0
    padding: 42px 56px
    font-size: 16px
    &:before
      top: 29px
      left: 15px
    &:after
      right: 15px
      bottom: 33px

  .video-box
    height: 184px
    margin: 0 0 30px

  .btn-play
    width: 28px
    height: 27px

  .article-image
    height: 189px
    margin: 20px 0 0

  .all-articles-card-100 .all-articles-card__body
    padding: 38px 20px 14px 24px

  .all-articles-card__img
    height: 188px

  .all-articles-card
    height: auto
    margin: 0 0 6px

  .all-articles-card__body
    height: calc(100% - 188px)
    padding: 32px 24px 21px
  .all-articles-card__title
    margin: 0 0 14px

  .all-articles-card .links-details
    margin: 15px 0 0

  .list-dots
    padding: 0 0 0 26px

  .box-subtitle .box-text
    margin: 0 0 37px

  .all-articles
    padding: 27px 0 20px

  @media only screen and (max-width: 340px)
    h1
      font-size: 34px

    .btn-burger
      margin-right: 0

    .header-box
      margin-left: 14px