@import "fonts"
@import "vars"

.service-home
  padding: 50px 0
  .box-text
    margin: 19px 0 25px
  .price
    margin: 0 0 21px

.price
  font-size: 25px
  font-weight: bold
  font-family: 'Arial', sans-serif
  span
    font-family: $default-font
    font-size: 35px


.advantages-service
  margin: 0 0 60px
  h2
    margin: 0 0 22px
  .box-text
    margin: 0 0 33px

//diplomas
.diplomas
  position: relative
  z-index: 1
  padding: 0 0 59px
  &:before
    content: ''
    position: absolute
    left: 0
    bottom: 0
    width: 100%
    height: 189px
    background: $accent
    z-index: -1

.diplomas-slider
  margin: 33px 0 0

.diplomas-slider-box
  margin: 0 auto
  max-width: 180px
  width: 100%
  height: 260px
  display: flex
  align-items: center
  justify-content: center
  overflow: hidden
  background: #F1F1F1


//stages-work
.stages-work
  padding: 79px 0
  h2
    margin: 0 0 30px

.stages-work-box
  text-align: center
  &__num
    text-align: center
    display: flex
    align-items: center
    justify-content: center
    margin: 0 auto 15px
    border: 1px solid #2293D7
      radius: 50%
    width: 79px
    height: 79px
    font-size: 40px
    font-weight: bold

  h3
    font-weight: bold
    font-size: 18px
    margin: 0 auto 12px

//advantages-service-my
.advantages-service-my-box
  box-shadow: 2px 2px 25px rgba(86, 129, 181, 0.14)
  background: #fff
  display: flex
  align-items: center
  height: 100%
  width: 100%
  padding: 25px 8px 24px 30px
  font-weight: bold
  &__icon
    display: flex
    align-items: center
    justify-content: center
    width: 48px
    height: 48px
  &__body
    width: calc(100% - 48px)
    padding: 0 0 0 27px




//tariffs
.tariffs
  padding: 84px 0


//.map-section
.map-section
  width: 100%
  height: 437px

  iframe
    width: 100%
    height: 100%


.consultation
  padding: 69px 0 66px


.consultation-img
  max-width: 404px
  width: 100%
  margin: 0 auto
  display: flex
  align-items: center
  justify-content: center

.consultation-content
  width: 100%
  max-width: 644px
  background: #fff
  box-shadow: 2px 2px 25px rgba(86, 129, 181, 0.14)
  padding: 42px 41px 43px 66px
  margin: 0 0 0 auto
  .box-text
    margin: 0 0 25px
    color: #000

.callback-section
  padding: 70px 0 64px
  h2
    margin: 0 0 8px

